n8n/playwright_multi_agent.json
{
  "name": "playwright_sse",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5b410409-5b0b-47bd-b413-5b9b1000a063",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        20
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You're a helpful assistant that just execute their code.\n\nToday is {{ $now.format('cccc') }} the {{ $now.format('yyyy-MM-dd HH:mm') }}.\n\n\n## Tool\n- playwright: 請使用 MCP Client\n\n## Output\nProvide the whole html. And only html.\n"
        }
      },
      "id": "29963449-1dc1-487d-96f2-7ff0a5c3cd97",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        20
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini-2025-04-14",
        "options": {}
      },
      "id": "cbaedf86-9153-4778-b893-a7e50d3e04ba",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "XPwOQSeVa2Z6qIyP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "75481370-bade-4d90-a878-3a3b0201edcc",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "sseEndpoint": "http://192.168.7.212:8931/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "id": "a0372f6d-bfe0-4bf7-9cc8-d01d8ff785e4",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "html": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        960,
        20
      ],
      "id": "29d26fe2-0e92-4440-84fb-3a0b578e1424",
      "name": "Markdown"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1200,
        20
      ],
      "id": "40e4095d-4756-49d7-a4c5-c61f418adfad",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1180,
        200
      ],
      "id": "2ffed0ba-8e93-4a2f-a411-38c2c336513b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "u4Co7qo7C85K5tf6",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.data }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1320,
        160
      ],
      "id": "1d511f7f-fe53-456f-a719-ecaf87677d6b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\"Time\": \"90'+4'\",\n\t\"Commentary\": \"Match ends, Barcelona 4, Borussia Dortmund 0.\"},\n      {\"Time\": \"90'+2'\",\n\t\"Commentary\": \"Julien Duranville (Borussia Dortmund) wins a free kick in the defensive half.\"}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1440,
        180
      ],
      "id": "23a6c5f8-801b-4022-8537-02f0bf226dae",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "# AI Agent for crawler\n# with Playwright MCP SSE",
        "height": 440,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -120
      ],
      "id": "21c28d34-80a0-43da-9c2b-cb188c9eed2c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# HTML to Markdown",
        "height": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -120
      ],
      "id": "27b3caa3-afcf-42a5-a741-9c516a175b21",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# AI Agent for Data Extraction",
        "height": 440,
        "width": 460,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        -120
      ],
      "id": "ea3f9fd1-cf42-4fb2-967f-0b74386df28a",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6cdbf92-278b-43b0-8aef-7c6f21d47acd",
  "meta": {
    "templateId": "PT1i+zU92Ii5O2XCObkhfHJR5h9rNJTpiCIkYJk9jHU=",
    "templateCredsSetupCompleted": true,
    "instanceId": "10436bf752248f6c30e2d7106c6d535d53645614098bae17f94ad8bb9b92bb96"
  },
  "id": "wW1thHEtMNhumv7K",
  "tags": []
}